
body {
    text-align: center;
    min-width: 1100px
}

#top_content {
    min-width: 1100px
}

#gheader {
    opacity: 0
}

header h1 img {
    opacity: 0
}

.pclang a {
    color: #fff
}

#gheader .menu_btn span {
    background-color: #fff;
}

#index_cover {
    width: 100%;
    height: 100%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    z-index: 1000
}

.news_fv {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 62%;
    height: 60px;
    line-height: 1;
    color: #fff;
    text-align: left;
    display: table;
    vertical-align: middle
}

.news_fv dl {
    margin-left: 50px;
    margin-top: 22px;
    white-space: nowrap;
    min-width: 550px;
    width: 80%
}

.news_fv dl,
.news_fv dl dd,
.news_fv dl dt {
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: middle
}

.news_fv dl dt {
    padding-top: 5px
}

.news_fv dl dd {
    margin-left: 15px;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%
}

.news_fv p {
    display: inline-block;
    margin-top: 22px;
    float: right;
    margin-right: 30px;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: Lato, Roboto, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif
}

.news_fv p.more::after,
.news_fv p.more::before {
    background-color: #fff
}

.top_fv {
    width: 100%;
    height: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden
}

.top_slide_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 100vh
}

.top_slide_img img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 800px;
    margin-top: -450px;
    width: 100%;
    height: 100vh;
}

/* new */
/*
.top_slide_img .slide-01 {
    background-image: url("../img/slider/slide-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.top_slide_img .slide-02 {
    background-image: url("../img/slider/slide-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.top_slide_img .slide-03 {
    background-image: url("../img/slider/slide-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.top_slide_img .slide-04 {
    background-image: url("../img/slider/slide-04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.top_slide_img .slide-05 {
    background-image: url("../img/slider/slide-05.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.top_slide_img .slide-06 {
    background-image: url("../img/slider/slide-06.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
*/
/* new */
/*
.clock {
    font-family: Roboto, Lato, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 0;
    right: 0;
    margin: auto;
    font-size: 60px;
    color: #fff;
    z-index: 10000
}

.clock .c {
    margin-left: -.3em;
    font-size: 50px
}

.clock .m,
.clock .s {
    margin-left: -.25em
}

.clock .Day {
    margin-left: .2em
}

.clock span {
    display: inline-block;
    height: 60px;
    cursor: default
}
*/
.top_slide_img {
    position: relative
}

.top_fv .line_l {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 312px;
    height: 1px;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, .7);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.top_fv .line_r {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: 312px;
    height: 1px;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, .7);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -260px;
    margin-left: -125px;
    z-index: 1001
}

#logo svg {
    width: 250px;
    height: 500px;
    overflow: visible
}

#logo svg .st1 {
    opacity: 0
}

#logo_copy {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    text-align: center;
    color: #90b023;
    font-weight: bolder;
    margin-top: 75px;
    margin-left: -140px;
    z-index: 1001;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: .2em
}

#en #logo_copy {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    text-align: center;
    color: #90b023;
    font-weight: bolder;
    margin-top: 75px;
    margin-left: -250px;
    z-index: 1001;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: .015em
}

#logo_country {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    margin-top: -50px;
    margin-left: -200px;
    z-index: 999;
    font-size: 14px;
    font-size: 1.6rem;
    letter-spacing: .06em;
    font-family: Lato, Roboto, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif
}

#logo_typo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -225px;
    z-index: 1001
}

#logo_typo svg {
    width: 450px;
    height: 150px;
    overflow: visible
}

#logo_typo svg path {
    opacity: 0
}

#index .slick-dots li.slick-active button:before {
    opacity: 1
}

#index .slick-dots li button:before {
    background-color: #fff;
    opacity: .6
}

#index .slick-dots {
    right: 35px;
    bottom: 30px;
    width: auto
}

#top_content {
	height: -o-calc(100% - 65px); /* opera */
	height: -webkit-calc(100% - 65px); /* google, safari */
	height: -moz-calc(100% - 65px); /* firefox */
    width: 100%;
    /*height: 62vw;*/
    min-height: 684px;
    overflow: hidden
}

#top_content article,
#top_content article .bg_c {
    display: table
}

#top_content article .tc {
    display: table-cell;
    vertical-align: middle
}

#top_content article .more {
    margin-top: 30px;
    border-bottom: 1px solid #5e5e5e;
    font-size: 14px;
    display: inline-block;
    font-weight: 700;
    line-height: 1.4
}

#service_index {
    width: 50%;
    min-width: 420px;
    height: 40vw;
    min-height: 420px;
    /*
    height: 62vw;
    min-height: 684px;
    */
    float: left;
    color: var(--primary-background-color);
    line-height: 1.75
}

#service_index h1 {
    font-size: 5.2rem
}

#top_content .more {
    font-family: Lato, Roboto, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif
}

#top_content #about_index .more,
#top_content #paint_index .more,
#top_content #service_index .more {
    color: var(--primary-background-color)
}

#top_content #about_index .more::after,
#top_content #about_index .more::before,
#top_content #paint_index .more::after,
#top_content #paint_index .more::before,
#top_content #service_index .more::after,
#top_content #service_index .more::before {
    background: var(--primary-background-color)
}

/*
#service_index .iot_svg {
    width: 680px;
    height: 228px;
    margin: 60px auto 0;
    position: relative
}

#service_index .iot_svg text {
    font-family: Lato, Roboto, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif
}

#service_index .iot_svg .service_text {
    position: absolute;
    font-size: 11px;
    letter-spacing: .025em;
    line-height: 1.4;
    font-family: Lato, Roboto;
    font-weight: 700;
    pointer-events: none;
    width: 100px;
    text-align: center
}

#service_index .iot_svg .service1 {
    bottom: 172px;
    left: 8px;
    color: #8fb500
}

#service_index .iot_svg .service2 {
    bottom: 172px;
    left: 132px;
    color: #0063b5
}

#service_index .iot_svg .service3 {
    bottom: 42px;
    left: 160px;
    color: #bb374c
}

#service_index .iot_svg .service4 {
    bottom: 42px;
    right: 165px;
    color: #82c0e5
}

#service_index .iot_svg .service5 {
    bottom: 172px;
    right: 135px;
    color: #cfb052
}

#service_index .iot_svg .service6 {
    bottom: 172px;
    right: 10px;
    color: #8fb500
}

#service_index .iot_svg svg {
    width: 680px;
    height: 228px
}

#service_index .iot_svg svg text {
    font-size: 2.7rem;
    letter-spacing: 0;
    line-height: 1.5;
    text-anchor: middle
}
*/
#service_index p {
    font-size: 1.5rem
}

#service_index hr {
    margin: 20px auto 40px;
    width: 50px;
    border: solid #fff;
    border-width: 1px 0 0 0;
    width: 56px
}

#product_index {
    width: 50%;
    min-width: 420px;
    height: 40vw;
    min-height: 420px;
    float: left;
    line-height: 1.75;
    background-color: var(--primary-background-color);
    color: var(--secondary-background-color);
   
    /*background-size: cover*/
}

#product_index p {
    /*font-size: 1.4rem;*/
    font-size: 1.5rem;
}

#product_index h1 {
	font-size: 5.2rem;
    /*font-size: 4rem;*/
    /*font-weight: 700;*/
    margin-bottom: 20px;
}

#product_index h1 .ss {
    font-size: 2.4rem
}

#about_index {
    line-height: 1.75;
    width: 50%;
    height: 24.1vw;
    min-height: 264px;
    /*background: url(../img/top/bt_about_bg.jpg) center no-repeat;*/
    background-size: cover;
    float: left;
    color: var(--primary-background-color)
}

#about_index p {
    font-size: 1.2rem
}

#about_index h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 10px
}

#about_index .bg_c {
    /*float: right;*/
    /*width: 24vw;*/
    width: 100%;
    min-width: 264px;
    height: 24.1vw;
    min-height: 264px;
    /*background-color: rgba(143, 181, 0, .95);*/
    background-color: rgba(0, 94, 72, .95);
}

#paint_index {
    line-height: 1.75;
    width: 50%;
    height: 24.1vw;
    min-height: 264px;
    /*background: url(../img/top/bt_about_bg.jpg) center no-repeat;*/
    background-size: cover;
    float:right;
    color: var(--primary-background-color)
}

#paint_index p {
    font-size: 1.2rem
}

#paint_index h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 10px
}

#paint_index .bg_c {
    /*float: right;*/
    /*width: 24vw;*/
    width: 100%;
    min-width: 264px;
    height: 24.1vw;
    min-height: 264px;
    /*background-color: rgba(143, 181, 0, .95);*/
    /*background-color: #808080;*/
}


    #paint_index .bg_c button{
        display: inline-block;
        border-radius: 15px;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 12px;
        padding: 16px;
        width: 175px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        border:2px solid #fff;
    }

    #paint_index .bg_c button span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }


     #paint_index .bg_c button span:after{
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
     }

     #paint_index .bg_c button:hover span{

        padding-right: 25px;
     }

  #paint_index .bg_c button:hover span:after{
        opacity: 1;
        right: 0;
  }



#top_news {
    width: 100%
}

#top_news header {
    height: 150px;
    line-height: 1;
    position: relative
}

#top_news header h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 60px;
    display: inline-block
}

#top_news header a {
    position: absolute;
    right: 50px;
    font-size: 1.4rem;
    top: 70px;
    line-height: 1.4;
    font-weight: 700
}

#top_news #news_inbox {
    width: 100%;
    min-width: 1100px
}

#top_news .news_main .news_item {
    min-width: 220px;
    width: 20%;
    float: left;
    transform: scale(1)
}

#top_news .news_main .news_item .news_sum_img {
    overflow: hidden;
    transform: scale(1)
}

#top_news .news_main .news_item .news_sum_img span {
    display: block;
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #fff
}

#top_news .news_main .news_item:last-child .news_sum_img span {
    background-color: #f0f0f0
}

#top_news .news_main .news_sum_img p {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%
}

#top_news .news_main .news_item .new {
    position: relative;
    line-height: 1
}

#top_news .news_main .news_item .new::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #91b122;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    z-index: 10
}

#top_news .news_main .news_item .new::after {
    content: "NEW";
    position: absolute;
    top: 14px;
    right: 13px;
    width: 25px;
    height: 25px;
    padding: 10px 5px;
    font-size: 10px;
    font-size: 1.1rem;
    letter-spacing: 0;
    color: #fff;
    font-weight: 700;
    z-index: 20;
    letter-spacing: .08em;
    font-family: Roboto, Lato, 'Helvetica Neue', sans-serif
}

#top_news .news_main .news_item .art_sum {
    box-sizing: border-box;
    padding: 30px 32px;
    text-align: left;
    height: 289px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    transform: scale(1)
}

#top_news .time {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: .04;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1
}

#top_news .category {
    line-height: 1;
    font-size: 10px;
    font-size: 1rem;
    font-weight: 700;
    width: auto;
    margin-bottom: 15px
}

#top_news .category span {
    padding: 5px 10px;
    background-color: #e5e5e5;
    display: inline-block
}

#top_news .news_main .news_item h2 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.95;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis
}

#top_live {
    width: 100%
}

#top_live header {
    height: 150px;
    line-height: 1;
    background-color: #f3f3f3;
    position: relative
}

#top_live header h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 60px;
    display: inline-block
}

#top_live header a {
    position: absolute;
    right: 50px;
    font-size: 1.4rem;
    top: 70px;
    line-height: 1.4;
    font-weight: 700
}

#top_live #live_inbox {
    width: 100%;
    min-width: 1100px
}

#top_live .entry_title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 260px;
    height: 260px;
    color: #fff;
    line-height: 1;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .5)
}

#top_live .entry_title .entry_title_in {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle
}

#top_live .time {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: .04;
    font-weight: 700;
    font-family: Lato, Roboto, 'Helvetica Neue', sans-serif
}

#top_live .entry_title_text {
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle
}

#top_live .entry_title .live_cate {
    margin: 0 auto 20px;
    font-weight: 700;
    font-size: 13px;
    font-size: 1.3rem
}

#top_live .entry_title h1 {
    font-size: 18px;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 1.6
}

#top_live .entry_title hr {
    border: solid rgba(255, 255, 255, .5);
    border-width: 1px 0 0 0;
    width: 40px;
    margin: 16px auto 25px
}

#top_live .live_main .live_item h2 {
    position: absolute;
    top: -42px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.95;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 30px 32px 34px;
    background-color: #fff;
    width: calc(100% - 50px)
}

#live_inbox {
    width: 100%;
    overflow: hidden;
    padding-bottom: 140px;
    background-color: #f3f3f3
}

#live_inbox .slick-dots li {
    width: 25px !important;
    margin: 0 0 0 10px !important
}

#live_inbox .slick-dots li.slick-active button:before {
    opacity: 1
}

#live_inbox .slick-dots {
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: -85px
}

.top_live_slide {
    width: 1066px
}

.top_live_slide .slick-list {
    overflow: visible
}

.entry_title_text {
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle
}

.top_live_slide .live_item {
    width: 100% !important
}

.top_live_slide .live_item {
    width: 273px;
    float: left;
    transform: scale(1)
}

.top_live_slide .live_sum_img>img {
    opacity: 0
}

.top_live_slide .live_item .live_sum_img {
    overflow: hidden;
    transform: scale(1);
    min-height: 360px
}

.top_live_slide .live_item .live_sum_img span {
    display: block;
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #fff
}

.top_live_slide .live_item:last-child .live_sum_img span {
    background-color: #f0f0f0
}

.top_live_slide .live_sum_img .live_img {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%
}

.top_live_slide .live_sum_img .live_img:after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%
}

.top_live_slide .live_item .new::before {
    content: "";
    position: absolute;
    top: -22px;
    right: -21px;
    background-color: #91b122;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    z-index: 10
}

.top_live_slide .live_item .new::after {
    content: "NEW";
    position: absolute;
    top: -17px;
    right: -22px;
    width: 30px;
    height: 30px;
    padding: 10px 5px;
    font-size: 11px;
    font-size: 1.1rem;
    letter-spacing: .08em;
    color: #fff;
    font-weight: 700;
    z-index: 20;
    font-family: Roboto, Lato, 'Helvetica Neue', sans-serif
}

.top_live_slide .live_item .art_sum {
    position: relative;
    text-align: left;
    height: 115px;
    background-color: #fff
}

#live .entry_title .entry_title_in {
    position: relative;
    width: 100%;
    height: 100%
}


@media screen and (max-width:768px) {
    html {
        width: 100%
    }

    body {
        min-width: 300px
    }

    #top_content {
        min-width: 300px
    }

    .news_fv {
        width: 100%;
        height: 75px;
        line-height: 1;
        color: #fff
    }

    .news_fv dl {
        margin-left: 25px;
        margin-top: 5px;
        min-width: 220px;
        width: 100%
    }

    .news_fv dl,
    .news_fv dl dd,
    .news_fv dl dt {
        display: block;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.4;
        vertical-align: middle
    }

    .news_fv dl dt {
        padding-top: 8px
    }

    .news_fv dl dd {
        margin-left: 0;
        overflow-x: visible;
        padding-top: 2px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        box-sizing: border-box;
        height: 32px;
        white-space: normal;
        width: 100%;
        padding-right: 100px;
        max-width: 100%;
        line-height: 1.4
    }

    .news_fv p {
        display: block;
        margin-top: 22px;
        float: none;
        right: 0;
        bottom: 30px;
        position: absolute
    }
    /*
    .clock {
        margin-top: -37px;
        top: 50%;
        font-size: 33px;
        letter-spacing: 0
    }

    .clock .c {
        margin-left: -.35em;
        font-size: 30px
    }

    .clock .m,
    .clock .s {
        margin-left: -.3em
    }

    .clock span {
        letter-spacing: -.02em;
        display: inline-block;
        height: 60px
    }
	*/
    .top_fv .line_l {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 160px;
        height: 1px;
        margin-top: -35px;
        background-color: rgba(255, 255, 255, .7)
    }

    .top_fv .line_r {
        width: 50%;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-right: 160px;
        height: 1px;
        margin-top: -35px;
        background-color: rgba(255, 255, 255, .7)
    }

    #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -187px;
        margin-left: -100px;
        z-index: 1001
    }

    #logo svg {
        width: 200px;
        height: 300px;
        overflow: visible
    }

    #logo svg .st1 {
        opacity: 0
    }

    #logo_copy {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 300px;
        text-align: center;
        color: #90b023;
        font-weight: bolder;
        margin-top: 3px;
        margin-left: -140px;
        z-index: 1001;
        font-size: 10px;
        font-size: 1rem;
        letter-spacing: .2em
    }

    #logo_country {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        text-align: center;
        color: #fff;
        font-weight: bolder;
        margin-top: -67px;
        margin-left: -200px;
        z-index: 999;
        font-size: 11px;
        font-size: 1.1rem;
        letter-spacing: .06em;
        font-family: Lato, Roboto, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif
    }

    #logo_typo {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -87px;
        margin-left: -125px;
        z-index: 1001
    }

    #logo_typo svg {
        width: 250px;
        height: 100px;
        overflow: visible
    }

    #logo_typo svg path {
        opacity: 0
    }

    #index .slick-dots li.slick-active button:before {
        opacity: 1
    }

    #index .slick-dots li button:before {
        background-color: #fff;
        opacity: .6
    }

    #index .slick-dots {
        right: auto;
        left: 0;
        bottom: 95px;
        width: 100%
    }

    #index .slick-dots li {
        margin-left: 10px;
        margin-right: 0
    }

    #top_content {
        height: auto;
        overflow: visible;
        width: 100%
    }

    #service_index {
	    width: 100%;
	    height: 50vw;
	    min-height: 420px;
        /*width: 100%;*/
        /*height: 445px;*/
        /*min-height: 445px;*/
        float: none
    }

    #service_index h1 {
        font-size: 3rem;
        margin-top: 30px
    }

    #top_content .more {
        font-family: Lato, Roboto, 'Helvetica Neue', "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif
    }

    #top_content #about_index .more,
    #top_content #service_index .more {
        color: #fff
    }

    #top_content #about_index .more::after,
    #top_content #about_index .more::before,
    #top_content #service_index .more::after,
    #top_content #service_index .more::before {
        background: #fff
    }

    /*
    #service_index .iot_svg {
        transform: scale(.5);
        height: 180px;
        margin: -10px 0 0 -180px
    }
	*/

    #top_content article .tc {
        width: 320px;
        margin: 0 auto;
        display: block
    }

    /*
    #service_index .iot_svg .service_text {
        position: absolute;
        font-size: 12px;
        letter-spacing: .025em;
        line-height: 1.4;
        font-family: Lato, Roboto;
        font-weight: 700;
        pointer-events: none
    }

    #service_index .iot_svg .service1 {
        bottom: 124px;
        color: #8fb500
    }

    #service_index .iot_svg .service2 {
        bottom: 124px;
        color: #0063b5
    }

    #service_index .iot_svg .service3 {
        bottom: -8px;
        color: #bb374c
    }

    #service_index .iot_svg .service4 {
        bottom: -8px;
        color: #82c0e5
    }

    #service_index .iot_svg .service5 {
        bottom: 124px;
        color: #cfb052
    }

    #service_index .iot_svg .service6 {
        bottom: 124px;
        color: #8fb500
    }

    #service_index .iot_svg svg {
        width: 680px;
        height: 228px
    }
	*/

    #service_index p {
        font-size: 1.2rem;
        letter-spacing: 0;
        font-weight: 700
    }

    #service_index hr {
        margin: 10px auto 25px;
        border: solid #fff;
        border-width: 1px 0 0 0;
        width: 40px
    }

    #top_content article .more {
        margin-top: 0;
        display: inline-block
    }

    #product_index {
        width: 100%;
        height: 375px;
        min-height: 375px;
        float: none;
       /* background: url(../img/top/bt_product_bg.jpg) center no-repeat;*/
        background-size: cover
    }

    #product_index p {
        font-size: 1.1rem;
        margin-bottom: 20px;
        font-weight: 700
    }

    #product_index h1 {
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: 110px;
        margin-bottom: 20px
    }

    #product_index h1 .ss {
        font-size: 1.8rem
    }

    #about_index {
        line-height: 1.75;
        width: 100%;
        height: 230px;
        min-height: 230px;
        float: none;
        color: #fff
    }

    #about_index p {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: 0
    }

    #about_index h1 {
        margin-top: 46px;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 10px
    }

    #about_index .tc {
        width: 230px !important
    }

    #about_index .bg_c {
        float: right;
        /*width: 230px;*/
        width: 100%;
        min-width: 230px;
        height: 230px;
        min-height: 230px;
        background-color: rgba(0, 94, 72, .95);
    }


@media screen and (max-width:767px) {

    #paint_index {
        line-height: 1.75;
        width: 100%;
        height: 230px;
        min-height: 230px;
        float: none;
        color: #fff
    }

    #paint_index p {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: 0
    }

    #paint_index h1 {
        margin-top: 46px;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 10px
    }

    #paint_index .tc {
        width: 230px !important
    }

    #paint_index .bg_c {
        float: right;
        /*width: 230px;*/
        width: 100%;
        min-width: 230px;
        height: 230px;
        min-height: 230px;
       /* background-color: #808080;*/
    }

   #paint_index .bg_c button{
        display: inline-block;
        border-radius: 15px;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 12px;
        padding: 16px;
        width: 169px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        border:2px solid #fff;
    }

    #paint_index .bg_c button span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }


     #paint_index .bg_c button span:after{
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
     }

     #paint_index .bg_c button:hover span{

        padding-right: 25px;
     }

  #paint_index .bg_c button:hover span:after{
        opacity: 1;
        right: 0;
  }
}


    #top_news .top_title h1 {
        padding: 75px 0 20px;
        font-size: 26px;
        font-size: 2.6rem;
        letter-spacing: .02em;
        font-weight: 700
    }

    #top_news {
        width: 100%;
        border-left: none;
        min-width: 320px
    }

    #top_news #news_inbox {
        width: 100%;
        min-width: 320px;
        max-height: 339px;
        overflow: hidden
    }

    #top_news .news_main .news_item {
        width: 50%;
        min-width: 150px
    }

    #top_news .news_main .news_item .new {
        position: relative
    }

    #top_news .news_main .news_item .new::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #91b122;
        padding: 10px;
        width: 14px;
        height: 14px;
        border-radius: 30px
    }

    #top_news .news_main .news_item .new::after {
        content: "NEW";
        position: absolute;
        top: 13px;
        right: 13px;
        width: 20px;
        height: 20px;
        padding: 10px 5px;
        font-size: 10px;
        font-size: 1rem;
        letter-spacing: 0;
        color: #fff;
        font-weight: bolder;
        font-family: Roboto, Lato, 'Helvetica Neue', sans-serif
    }

    #top_news .news_main .news_item .art_sum {
        box-sizing: border-box;
        padding: 20px 22px;
        text-align: left;
        height: 199px;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5
    }

    #top_news .news_main .news_item .time {
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: .04;
        font-weight: 700;
        margin-bottom: 12px
    }

    #top_news .category {
        font-size: 10px;
        font-size: 1rem;
        font-weight: 700;
        width: auto;
        margin-bottom: 15px
    }

    #top_news .category span {
        padding: 5px 10px;
        background-color: #e5e5e5;
        display: inline-block
    }

    #top_news .news_main .news_item h2 {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.45;
        height: 88px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis
    }

    #top_live header,
    #top_news header {
        height: 110px
    }

    #top_live header h1,
    #top_news header h1 {
        font-size: 2.8rem;
        margin-top: 40px
    }

    #top_live header a,
    #top_news header a {
        position: absolute;
        right: 25px;
        font-size: 1.4rem;
        top: 46px;
        line-height: 1.4;
        font-weight: 700
    }

    #top_live #live_inbox,
    .top_live_slide {
        width: 100%;
        min-width: 320px
    }

    #live.entry header .entry_title,
    #top_live .entry_title {
        width: 178px;
        height: 178px
    }

    #live.entry header .entry_title h1,
    #top_live .entry_title h1 {
        font-size: 16px;
        font-size: 1.6rem;
        padding: 0 20px;
        letter-spacing: 0;
        line-height: 1.437;
        font-weight: 700;
        word-break: break-all
    }

    #live.entry header .entry_title hr,
    #top_live .entry_title hr {
        border-width: 1px 0 0 0;
        width: 28px;
        margin: 10px auto 15px
    }

    #live.entry header .time,
    #top_live .time {
        font-size: 1px;
        font-size: 1rem
    }

    #live.entry header .entry_title .live_cate,
    #top_live .entry_title .live_cate {
        margin: 0 auto 10px;
        font-size: 11px;
        font-size: 1.1rem
    }

    #top_live .live_item .live_sum_img {
        min-height: 250px
    }

    #top_live .live_item .live_sum_img {
        min-height: 250px
    }

    #top_live .live_article header .header_in {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box
    }

    #top_live .live_article .live_share {
        width: 170px;
        font-size: 11px;
        font-size: 1.1rem;
        vertical-align: middle;
        padding-top: 28px;
        font-weight: 700;
        margin-bottom: 10px
    }

    #top_live .live_article footer .live_share {
        margin-bottom: 20px
    }

    #top_live .live_article footer .return_index {
        padding-top: 36px
    }

    #top_live .live_article .live_share p {
        padding-right: 10px;
        font-size: 11px;
        font-size: 1.1rem;
        line-height: 1.72
    }

    #top_live .live_article .live_share li img {
        height: 25px
    }

    #top_live .live_article footer {
        width: 100%;
        margin-top: 30px
    }

    #live_inbox {
        padding-bottom: 80px;
        position: relative
    }

    #live_inbox .slick-dots {
        left: 6px;
        bottom: -55px
    }

    .slider-prev {
        position: absolute;
        left: 25px;
        bottom: 30px;
        width: 50px;
        height: 20px;
        background-size: 35px 40px
    }

    .slider-next {
        position: absolute;
        right: 25px;
        bottom: 30px;
        width: 50px;
        height: 20px;

        background-size: 35px 40px
    }
}

@media screen and (max-width:350px) {
    #service_index .iot_svg {
        transform: scale(.45)
    }

    #index .slick-dots {
        right: auto;
        left: 0;
        bottom: 80px;
        width: 100%
    }

    .clock {
        margin-top: -37px;
        top: 50%;
        font-size: 28px;
        letter-spacing: 0;
        margin-left: -.015em
    }

    .clock .c {
        margin-left: -.25em;
        font-size: 25px
    }

    .clock .m,
    .clock .s {
        margin-left: -.2em
    }

    .clock span {
        display: inline-block;
        height: 60px
    }

    .top_fv .line_l {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 135px;
        height: 1px;
        margin-top: -35px;
        background-color: rgba(255, 255, 255, .7)
    }

    .top_fv .line_r {
        width: 50%;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-right: 135px;
        height: 1px;
        margin-top: -35px;
        background-color: rgba(255, 255, 255, .7)
    }
}
